<article class="article-item" >

    <div class="image-wrap">
        <img src="{{pelicula.image}}" alt="{{pelicula.title}}" />
    </div>

    <h2>{{pelicula.title}}</h2>
    <div class="fecha">
        <span class="date">Hace 5 minutos</span>
        <span [ngClass]="{'year-green': pelicula.year > 2016,
         'year-orange': pelicula.year < 2016}"> {{pelicula.year}}</span>
        <br>
        <a href="#">Leer Más</a>
    </div>

    <button (click)="seleccionar(pelicula)">Pelicula favorita</button>

    <div class="clearfix"></div>
</article>
