<app-slider [name]="'Peliculas'" [size]="'small'"></app-slider>

 <div class="center">
    <main id="contenido-principal">
        <div id="favorita" *ngIf="favorita">
            <h2 class="subheader">Pelicula favorita</h2>
           
            <h3>{{favorita.title | lowercase}}</h3>
            <h4>{{favorita.year | date: 'full'}}</h4> 
            <h5>{{this.fecha | date: 'dd/MM/yyyy'}}</h5>
            <h4>{{favorita.year | espar}}</h4>
            <!--OPCIONES PARA LAS PIPES DE FECHAS
                fullDate
                full
            -->
        </div>
        <section id="contenido">
            <div id="articles"> 

                <h2>listado de peliculas</h2>
                
                <section id="contenido" *ngIf="array_peliculas">
                    <div id="articles">
                        <div *ngFor="let peli of array_peliculas">
                            <app-pelicula [pelicula]="peli" (MarcarFavorita)="mostrarFavorita($event)"></app-pelicula>
                        </div>
                    </div>
                </section>
               
                    <!--#articles-->

                    <!--#contenido-->
                <!-- <h2>Peliculas</h2>
                <hr>
                <h3>{{titulo}}</h3>

                <button (click)="cambiarTitulo()">CLICK</button>

                <hr>

                <h2>Primer elemento del arreglo de peliculas</h2>
                <p>{{array_peliculas[0].title}}</p>

                <hr>

                <h2>Longitud del arreglo</h2>
                <p>{{array_peliculas.length}}</p>

                <div *ngIf="array_peliculas.length <= 3">
                    <strong>hay pocas peliculas</strong>
                </div>

                <div *ngIf="array_peliculas.length > 3">
                    <strong>hay muchas peliculas</strong>
                </div>

                <hr> -->

                

            </div>
        </section>
    </main>
    <app-sidebar></app-sidebar>
</div>